:root {
  /* user */
  --user-header-margin-top: 60px;
  --user-haeder-height: 60px;

  --user-footer-height: 60px;
  /* assessment */
}

#user_layout {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#footer {
  width: 100%;
  height: var(--user-footer-height);
  background-color: aqua;
}

#assessment_layout {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#contents {
  overflow: hidden;
  background-color: rgb(174, 103, 169);
  overflow-y: auto;
  margin-top: var(--user-haeder-height);
  padding: 1rem;
  min-height: 600px;
}
